<ng-container>
    <div class="card p-2 whather-dispaly vh-50 text-white">
        <!-- <div class="">
            <img [src]="data.current && data.current.condition && data.current.condition.icon" alt="" class="img-fluid">
        </div> -->


        <ng-container *ngFor="let item of data.forecast && data.forecast.forecastday ">
            <div class=" d-flex align-items-center  ">

                <img [src]="item.date=='2023-01-13'?item.day && item.day.condition && item.day.condition.icon :'' " alt="" class="img-fluid">
                <p>mest</p>
            </div>
        <ng-container *ngFor="let second of item.hour">
        <div class="">

            <!-- <img [src]="item.second && item.second && item.second.icon" alt="" class="img-fluid"> -->
        </div>
    </ng-container>
        </ng-container>
        .
    </div>
</ng-container>